.blogCard {
  padding: 8px;
  border-radius: 32px;
  background-color: #667eea;
  width: fit-content;
  max-width: 316px;
  height: 300px;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 24px;
}
