.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin-inline: auto;
}

.title {
  font-size: 4rem;
}

.input {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 16px;
  outline: none;
  border-width: 1px;
  text-transform: uppercase;
}

.button {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background-color: #007aff;
  color: white;
  font-weight: bold;
}

.disabledButton {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 16px;
  border: none;
  cursor: not-allowed;
  background-color: #a0a2a5;
  color: black;
  font-weight: bold;
}

.list {
  list-style: none;
}

.listItem {
  display: flex;
  padding: 6px;
  background-color: #dbdddf;
  min-height: 40px;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 16px;
}
